
.tituloGrafica{
  color: var(--colorParrafos);
  font-family: var(--fuenteParrafos);
  font-weight: bold;
}

.rpt {
  width: 100%; 
  min-height: 500px;
}
#txt_fecha{
  width: 20%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f9fafb;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d5db;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  box-shadow: inset 0 1px 2px rgb(46 54 80 / 8%);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  font-family: var(--fuenteParrafos);
  color: var(--colorTitulo);
  font-size: 1.4em !important;
  padding-left: 20px;
}

@media screen and (max-width: 576px){

  #txt_fecha{
    width: 80%;
  }

}