.lading_page-ver-empleados {
  padding-bottom: 85px;
}

.lading_page-ver-empleados .card{
  background:transparent !important;
  border: none !important;
}


  /* tabla */
  .table thead{
    background: #a200ff;
    color: #fff;
    font-family: var(--fuenteParrafos);
    font-size: 1.5em !important;
  }
/* tabla */
.table thead {
  background: #a200ff;
  color: #fff;
  font-family: var(--fuenteParrafos);
  font-size: 1.5em !important;
}
.table td {
  border-bottom: 1px solid #a200ff;
}
.table tr:hover {
  background: #a200ff57;
  font-weight: bold;
}
.table .acciones{
text-align: center !important;
}

/* botones */
.btnNaranja:hover {
  background: linear-gradient(to right, #f5af19, #f12711);
  color: #fff;
}
.btnMorado:hover {
  background: linear-gradient(to right, #6d23ad, #4201c2);
  color: #fff;
}

/* select */
.form-control {
  /* display: block; */
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5563;
  background-color: #f9fafb;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d5db;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  box-shadow: inset 0 1px 2px rgb(46 54 80 / 8%);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  font-family: var(--fuenteParrafos);
  color: var(--colorTitulo);
  font-size: 1.4em !important;
}

/* modal cancelar */
.modal {
  z-index: 1111;
}

.form-width {
  padding: 0px 30px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* box-shadow: 0px 2px 1px #ddd; */
  border-radius: 10px !important;
  margin: 0 auto;
  background-color: #fff;
}

.form-width .form-header {
  padding: 15px;
  margin: -2px -30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 30px !important;
  background-color: #a200ff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23a061a0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: var(--fuenteTitulos);
  color: #fff;
}
.form-width .text-modal {
  font-family: var(--fuenteTitulos);
  font-size: 1em;
}
