*{
    margin:0;
    padding:0;
    
}

.contenedorAgregarServicio{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.contenedorTablaServicios{
    overflow-x: auto;
}



.cajaArea{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 2px solid #00000096;
    font-weight: bold;
    padding-left: 12px;
    outline: none;
    background: rgba(255, 255, 255, 0.603);
}


#botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#btn_actualizar, #btn_eliminar{
    width: 50px;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* estilos de la tabla*/
.table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    min-width: 800px;
    text-align: center;
    margin-bottom: 40px;
} 

thead{
    background: #a200ff;
    color: #fff;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
}

.table td, .tabla th{

    height: 60px;
    border-bottom: 1px solid #a200ff;
    text-align: center;
}

.table tr:hover{

    background: #a200ff57;
    font-weight: bold;
}

.botonModal{
    
    display: flex;
    justify-content: center;
}


.form-control {
    /* display: block; */
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b5563;
    background-color: #f9fafb;
    background-clip: padding-box;
    border: 0.0625rem solid #d1d5db;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1rem;
    box-shadow: inset 0 1px 2px rgb(46 54 80 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
    font-family: var(--fuenteParrafos);
    color: var(--colorTitulo);
    font-size: 1.4em !important;
  }

  
  @media screen and (max-width: 1220px){

 #botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 #btn_actualizar{
    margin: 10px;
 }


}
