*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.titulo{
    font-size: 70px;
    text-align: center;
}

#frmEmpleado{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

.contenedorFormulario{
    width: 70%;
    background: #fff;
    border-radius: 20px;
    padding: 25px;
}

#contenedorBotonRegistrar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 25px;
}

@media screen and (max-width: 556px){

    #frmEmpleado{
        
        display: flex;
        justify-content: center;
    }

    .contenedorTitulo{
        height: 300px;
    }
    
    .titulo{
        font-size: 40px;
        text-align: center;
    }

    .contenedorFormulario{
        width: 100%;
    }

}