*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.titulo{
    font-size: 70px;
}