:root{

    --fuenteFredoka: 'Fredoka One';
    --fuentePompiere: 'Pompiere';

    /*paleta de colores*/
    --colorFondo: #D1D8FB;

    /*degradado botones*/
    --colorBoton1: #8E2DE2;
    --colorBoton2: #4A00E0;

    /*degradado de barras*/
    --colorBarra1: #fc00ff;
    --colorBarra2: #00dbde;

    /*degradado de los checkBox*/
    --colorCheck1: #fc00ff;
    --colorCheck2: #00dbde;

    /*color textos*/
    --colorTitulo: #0e0577;
    --colorParrafo:  #050d1e;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--colorFondo);
}

.pompiere{
    font-family: var(--fuentePompiere);
    font-size: 1.5rem;
    color: #0c0733;
}

.fredoka{
    font-family: var(--fuenteFredoka);
    color: #0c0733;
}
.barra{
    background: linear-gradient(to right, var(--colorBarra1), var(--colorBarra2));
}


.degradadoRainbow{

    background: linear-gradient(to right, var(--colorBarra1), var(--colorBarra2));
    border-radius: 20px;

}

.btnMorado{

    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 12px 28px;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.btnNaranja{

    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 12px 28px;
    background: linear-gradient(to right, #f12711, #f5af19);
}


.boton:hover{

    background: linear-gradient(to right, #6d23ad, #4201c2);
}

.cajaTexto{

    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #00000096;
    font-weight: bold;
    padding-left: 12px;
    outline: none;
    background: rgba(255, 255, 255, 0.603);

}

.cajaTexto:focus{

    border: 2px solid #8E2DE2;
}

