*, 
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #D1D8FB;
}

.cabecera{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka one';
}

.datos_mascota{
    width: 100%;
    margin-left: 50%;
    font-family: 'Pompiere';
}

.campos_datosMascota{
    font-size: 120%;
    width: 50%;
    border:black 2px solid;
}

p{
    font-size: 120%;
    margin: auto;
    height: 30px;
    font-family: 'Pompiere';
}

table tr th{
    font-family: 'Fredoka one';
    font-size: 120%;
}

table{
    font-size: 110%;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Pompiere';
}

.btn_morado{
    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    background: linear-gradient(to right, #8E2DE2, #4A00E0); 
}

.btn_naranja{

    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 5px 15px;
    background: linear-gradient(to right, #f12711, #f5af19);
}
.tbl_piePagina{
    font-family: 'Fredoka one';
    text-align: left;
    margin-left: 15%;
}