*, 
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #D1D8FB;
}


.contenedorDatosPequeña{
    display: flex;
}

p{
    margin-bottom: auto;
    
}

.contenedorBusqueda{
    margin-left: 50%;
}

.datos_mascota{
    width: 100%;
}

.campos_datosMascota{
    font-size: 120%;
    width: 50%;
    border:black 2px solid;
}


.datos_historialMascota{
    overflow-x: auto;
}


.tabla{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    min-width: 800px;
    text-align: center;
    margin-bottom: 40px;
} 

thead{
    background: #a200ff;
    color: #fff;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
}


.tabla td{
    height: 60px;
    border-bottom: 1px solid #a200ff;
    text-align: center;
    font-family: 'pompiere';
    font-size: 1.5em;
}


.tabla th{

    height: 60px;
    border-bottom: 1px solid #a200ff;
    text-align: center;
    font-size: 1.1em;

}

.tabla tr:hover{

    background: #a200ff57;
    font-weight: bold;
}
.btn_morado{
    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    background: linear-gradient(to right, #8E2DE2, #4A00E0); 
}

.btn_naranja{

    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 5px 15px;
    background: linear-gradient(to right, #f12711, #f5af19);
}

.modalActualizar{
    z-index: 1111;
    margin-top: 100px;
}


@media screen and (max-width: 492px){
    .contenedorBusqueda{
        margin-left: 5%;
    }

    .datos_mascota{
        width: 100%;
        margin-top: 20px;
        margin-left: 5%;
    }

    .contenerdorTodo{
        display: block;
    }
    .modalActualizar{
        margin-top: 50%;
        z-index: 1111;
    }


}

@media screen and (max-width: 720px) {
    
    .cabecera{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Fredoka one';
        margin-top: 70px;
    }

    .contenedorBusqueda{
        margin-left: 5%;
    }

    .datos_mascota{
        width: 100%;
        margin-top: 20px;
        margin-left: 5%;
    }

    .contenerdorTodo{
        display: block;
    }
    .modalActualizar{
        margin-top: 50%;
        z-index: 1111;
    }

    
}
